/* Styles for the .home container */
.home {
    width: 428px;
    height: 808px;
    flex-shrink: 0;
    background: #212832;
    position: absolute;
    top: 0px;
    left: 90px;
    display: flex;
    flex-direction: column;
  }
  .p11 {
    color: #fff;
    font-family: "Pilat Extended";
    font-size: 16.26px;
    font-style: normal;
    font-weight: 600;
    line-height: 15.304px;
    right: 1169px;
    top: 118.11px;
    background: transparent;
    padding-left: 1px;
    margin-top: -1px;
  }
  .p21 {
    background: transparent;
    color: #fed36a;
  }
  .clockimg {
    width: 91.222px;
    height: 71.383px;
    margin-top: 37.5px;
  }
  .logoflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Create_your_account {
    color: #fff;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    padding-top: -2px;
  }
  .have_an_account {
    color: #8caab9;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .have_an_account span {
    color: #fed36a;
    cursor: pointer;
    
  }
  .or{
    color: #8CAAB9;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 60px;
 }
  .link {
  text-decoration: none;
  color: #fed36a;
    cursor: pointer;
  
}