/* Styles for the .home container */
.home {
    width: 428px;
    height: 926px;
    flex-shrink: 0;
    background: #212832;
    position: absolute;
    left: 151px;
    top: 49px;
    display: flex;
    flex-direction: column;
    bottom: 49px;
  }
  .p11 {
    color: #fff;
    font-family: "Pilat Extended";
    font-size: 16.26px;
    font-style: normal;
    font-weight: 600;
    line-height: 15.304px;
    right: 1169px;
    top: 118.11px;
    background: transparent;
    padding-left: 1px;
    margin-top: -1px;
  }
  .p21 {
    background: transparent;
    color: #fed36a;
  }
  .clockimg{
    width: 91.222px;
    height: 71.383px;
    margin-top: 37.5px;
  }
  .logoflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Create_your_account{
    color: #FFF;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 600;
margin-left: 26px;
padding-top: -2px;
  }
  