/* Setting the variable */
:root {
  --gradient: linear-gradient(45deg,#845ec2,#d65db1,#ff6f91,#ff9671,#ffc75f,#f9f871);
}

body {
  background: var(--gradient);
  background-size: 550%;
  animation: bg-animations 5s infinite alternate;
  background-repeat: no-repeat;
  min-height: 100dvh

}
@keyframes bg-animations {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}
.bgdeskimage{
width: 450px;
height: 350px;
border-radius: 226px;
margin-top:  200px;
margin-bottom:  239px;
margin-left:  700px;
margin-right: 25px;
}