/* Setting the variable */
:root {
  --gradient: linear-gradient(45deg,#845ec2,#d65db1,#ff6f91,#ff9671,#ffc75f,#f9f871);
}

body {
  background: var(--gradient);
  background-size: 250%;
  animation: bg-animations 7s infinite alternate;
  width: 1440px;
height: 1024px;

}
@keyframes bg-animations {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}
.bgdeskimage{
width: 587px;
height: 452px;
border-radius: 226px;
margin-top:  200px;
margin-bottom:  239px;
margin-left:  1000px;
margin-right: 25px;
}